@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-500: #22c55e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-parkinsans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-parkinsans), sans-serif;
}
